{
margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Arial', sans-serif;
line-height: 1.6;
  background-color: #f8f9fa;
  color: #202124;
}

.header {

text-align: center;

background-color: #FFFFFF;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header h1 {
  font-size: 2.5em;
  color: #0000ff;
}

.header p {
  color: #fqf900;
}


.navbar {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #0645ad;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}


.contenido {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.contenido h2 {
  color: #0000ff;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenido p, .contenido ul {
  margin-bottom: 15px;
}

.img-intro {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}


.footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  color: #666;
  font-size: 0.9em;
  border-top: 1px solid #e0e0e0;
}